.DS_Store
OUT*
Tango/Tango/obj/x86/Debug/Tango.exe.mdb
Tango/Tango/bin/Debug/OUT*
Tango/Server/Server.csproj
Tango/Server/Server.sln
Tango/Server/Server.userprefs
Tango/Server/bin/
Tango/Server/obj/x86/Debug/Server.exe
Tango/Server/obj/x86/Debug/Server.exe.mdb
Tango/Tango.sln
Tango/Tango.userprefs
Tango/Tango/Program.exe
Tango/Tango/Program.exe.mdb
Tango/Tango/Tango.csproj
Tango/Tango/Tango.sln
Tango/Tango/Tango.userprefs
Tango/Tango/bin/
Tango/Tango/obj/x86/Debug/Tango.csproj.FilesWrittenAbsolute.txt
Tango/Tango/obj/x86/Debug/Tango.exe
